<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="profile-wrap">
        <div class="profile">
          {% if user and user.id %}
          <div class="user-name">안녕하세요 {{user.nick}}님</div>
          <div class="user-money">보유 자산: {{user.money}}원</div>
          <input type="hidden" id="my-id" value="user.id" />
          <a href="/" class="btn">메인화면</a>
          <a href="/auth/logout" id="logout" class="btn">로그아웃</a>
          <a href="/good" id="register" class="btn">상품 등록</a>
          <a href="/list" id="list" class="btn">낙찰 내역</a>
          {% else %}
          <form action="/auth/login" id="login-form" method="post">
            <div class="input-group">
              <label for="email">이메일</label>
              <input type="email" id="email" name="email" required autofocus />
            </div>
            <div class="input-group">
              <label for="password">비밀번호</label>
              <input type="password" id="password" name="password" required />
            </div>
            <a href="/join" id="join" class="btn">회원가입</a>
            <button id="login" class="btn" type="submit">로그인</button>
          </form>
          <div class="social-login">
            <a href="/auth/kakao" class="btn">Kakao</a>
            <a href="/auth/naver" class="btn">Naver</a>
            <a href="/auth/google" class="btn">Google</a>
            <a href="/auth/github" class="btn">Github</a>
          </div>
          <div>
            <p>ID/PW for test is test@test.com/test1234</p>
            <p>social logins and signing up is also available</p>
          </div>
          {% endif %}
        </div>
        {% block good %} {% endblock %}
      </div>
      {% block content %} {% endblock %}
      <footer>
        <br />
        Inspired by&nbsp;<a href="https://www.zerocho.com" target="_blank"
          >ZeroCho</a
        >'s Node Auction
        <br />
        <h3>these features are major functionality of this web-app</h3>
        <ol
          style="background-color: lightgray; text-align: left; font-size: 1rem"
        >
          <li>server sent event for timestamp synchronization</li>
          <li>socket.io for persistant client/server communication</li>
          <li>sequelize and mysql</li>
          <li>pm2 for production level server management</li>
          <li>most of client code are from zerocho's works</li>
        </ol>
        <h3>
          Following Features Designed and implemented independently by
          <a href="https://github.com/atoye1" target="_blank">Donghun Seol</a>
        </h3>
        <ol style="background-color: beige; text-align: left; font-size: 1rem">
          <li>Four different social logins with passport.js</li>
          <li>MySQL hosted from Oracle Cloud</li>
          <li>Dockerization and AWS ECS deployment</li>
          <li>AWS S3 as content store</li>
          <li>AWS Lambda to process image resizing</li>
          <li>
            redis from redis cloud as session store for server fault tolerance
            and future scaling out
          </li>
          <li>winson logger</li>
          <li>eslint-airbnb styleguide used</li>
        </ol>
        <a href="https://github.com/atoye1" target="_blank"
          >Git repository here</a
        >
      </footer>
    </div>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'))
        }
      }
    </script>
  </body>
</html>
